<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
        <h1>404</h1>
        </div>
        <h2>Üzgünüz Sayfaya Ulaşılamıyor!</h2>
        <p>Aradığınız sayfa, adı değiştirilmiş veya geçici olarak kullanılamıyor olabilir.</p>
        <a (click)="cancel()">Geri Dön</a>
    </div>
</div>
      