<!-- <h3>You clicked on product id: {{single_product_id}}</h3> -->
<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>Alıcı</a></li>
        <li class="breadcrumb-item"><a>Ödeme</a></li>
    </ol>
</nav>
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                Ürün Detayı
            </div>
            <div class="card-body product-detail">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{individual_product?.uploadPhoto}}" class="card-img-top" alt="{{individual_product?.name}}">
                    </div>
                    <div class="col-md-8">
                        <h4 class="card-title">{{individual_product?.name}}</h4>
                        <br>
                        <p class="card-text product-desc">{{individual_product?.productDesc}}</p>
                        <p><span class="float-left"><strong>Normal Fiyatı</strong>: <del>{{individual_product?.mrp}}</del></span>
                            <span class="float-right"><strong>İndirimli Fiytı</strong>:
                                {{individual_product?.dp}}</span></p>
                    </div>
                </div>
                <!-- <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Adres Detayı
            </div>
            <div class="card-body">
                <h5 class="card-title">{{user_address?.name}}</h5>
                <p class="card-text">{{user_address?.addLine1}},{{user_address?.addLine2}}</p>
                <p class="card-text">{{user_address?.city}},{{user_address?.state}}</p>
                <p class="card-text">Posta Kodu: {{user_address?.zipCode}}</p>
                <p class="card-text">İletişim Numarası: {{user_contact_no}}</p>
                <a class="btn btn-primary" (click)="placeOrder()">Bu Adrese Teslim Et.</a>
                <div class="alert alert-info" role="alert">
                    <strong>Not: </strong>
                    Sipariş için tek adres seçilebilir, farklı adres için
                    <span routerLink="/my-profile" class="text-info sim-pointer">Profilim</span>
                    bölümüne gidiniz.
                </div>
            </div>

        </div>
    </div>
</div>