<div class="contact-us">
        <h1>Sizi Dinliyoruz...</h1>
        <div class="row">
            <div class="col-md-9">
                PYMU E-TIC YEREL 
                <iframe src="https://www.google.com/maps/place/%C5%9Eehitler,+45400+Turgutlu%2FManisa/@38.4949314,27.7119842,16z/data=!3m1!4b1!4m5!3m4!1s0x14b9a7eb77e44881:0x5d82e5f9acba4908!8m2!3d38.4958146!4d27.7160779" width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
            <div class="col-md-3">
                <h3>Posta Adresi</h3>
                <p>
                    Türkiye
                    Manisa <br>
                    Turgutlu
                    Şehitler Mah.
                    PYMU E-Tic <br>
                    Posta Kodu 45454
                </p>
                <h3>Email</h3>
                <p><strong>Ofis:</strong>pymuofis@gmail.com</p>
                <p><strong>Kişisel:</strong>pymuboss@gmail.com</p>
                <h3>Telefon</h3>
                <p><strong>Ofis:</strong>+90 507 845 99 88</p>
                <p><strong>İş:</strong>+90 507 145 13 88</p>
            </div>
        </div>
        
</div>