<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">{{'header.ecommerce' | translate}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">{{'header.home' | translate}} <span class="sr-only">(current)</span></a>
            </li>       
            <li class="nav-item" *ngIf="user_role == 'buyer'">
                    <a class="nav-link" routerLink="/my-order">{{'header.order' | translate}}</a>
            </li>
            <li class="nav-item" *ngIf="user_role == 'admin'">
                    <a class="nav-link" routerLink="/all-order">{{'header.order' | translate}}</a>
            </li>
            <li class="nav-item" *ngIf="user_role == 'seller'">
                    <a class="nav-link" routerLink="/seller/product">{{'header.product' | translate}}</a>
            </li>
            <li class="nav-item" *ngIf="user_role == 'admin'">
                    <a class="nav-link" routerLink="/admin/product">{{'header.product' | translate}}</a>
            </li>
            <li class="nav-item" *ngIf="user_role == 'admin'">
                    <a class="nav-link" routerLink="/admin/user">{{'header.user' | translate}}</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" routerLink="/contact-us">{{'header.contact_us' | translate}}</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="{{'header.search' | translate}}" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{{'header.search' | translate}}</button>
        </form>
        <ul class="navbar-nav ml-auto" *ngIf="!logged_in">
            <li class="nav-item">
                <a class="nav-link" routerLink="/sign-in">{{'header.signin' | translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/sign-up">{{'header.signup' | translate}}</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto" *ngIf="logged_in">
            <li class="nav-item">
                <a class="nav-link sim-pointer" routerLink="/my-profile">{{'header.my_profile' | translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link sim-pointer" (click)="logOut()">{{'header.signout' | translate}}</a>
            </li>
        </ul>
    </div>
</nav>