<br>
<div class="row">
    <div class="col-md-10">
        <strong>Kullnıcı Listesi</strong>
    </div>
    <div class="col-md-2"><button type="button" class="btn btn-dark float-right" (click)="addUserPopup()" data-toggle="modal"
            data-target="#addEditUserModal">Ekle
            Yeni Kullanıcı</button></div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ad</th>
            <th scope="col">TelNo</th>
            <th scope="col">Email</th>
            <th scope="col">DoğumTarihi</th>
            <th scope="col">Şehir</th>
            <th scope="col">Rol</th>
            <th scope="col">İşlem</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user_data of all_user_data; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{user_data.name}}</td>
            <td>{{user_data.mobNumber}}</td>
            <td>{{user_data.email}}</td>
            <td>{{user_data.dob}}</td>
            <td>{{user_data.address.city}}</td>
            <td>{{user_data.role}}</td>
            <td>
                <span class="sim-pointer" (click)="editUserPopup(user_data.id)" data-toggle="modal" data-target="#addEditUserModal"><i
                        class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                &nbsp;&nbsp;&nbsp;
                <span class="sim-pointer" (click)="deleteUser(user_data.id)"><i class="fa fa-trash" aria-hidden="true"></i></span>
            </td>
        </tr>
    </tbody>
</table>


<!-- Modal for add and edit user  -->
<div class="modal fade" id="addEditUserModal" tabindex="-1" role="dialog" aria-labelledby="addEditUserTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{popup_header}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <form [formGroup]="addEditUserForm">
                            <div class="form-group">
                                <label>Ad</label>
                                <input type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid':addEditUser && rf.name.errors}" />
                                <div *ngIf="addEditUser && rf.name.errors" class="invalid-feedback">
                                    <div *ngIf="rf.name.errors.required">Ad boş bırakılamaz.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Telefon Numarası</label>
                                <input type="tel" class="form-control" formControlName="mobNumber" [ngClass]="{'is-invalid':addEditUser && rf.mobNumber.errors}"
                                    numberOnly />
                                <div *ngIf="addEditUser && rf.mobNumber.errors" class="invalid-feedback">
                                    <div *ngIf="rf.mobNumber.errors.required">Telefon Numarası boş bırakılamaz.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Yaşınız</label>
                                <input type="number" class="form-control" formControlName="age" [ngClass]="{'is-invalid':addEditUser && rf.age.errors}" />
                                <div *ngIf="addEditUser && rf.age.errors" class="invalid-feedback">
                                    <div *ngIf="rf.age.errors.required">Yaş boş bırakılamaz.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Doğum Tarihiniz</label>
                                <input type="date" class="form-control" formControlName="dob" [ngClass]="{'is-invalid':addEditUser && rf.dob.errors}" />
                                <div *ngIf="addEditUser && rf.dob.errors" class="invalid-feedback" [ngClass]="{'is-invalid':addEditUser && rf.dob.errors}">
                                    <div *ngIf="rf.dob.errors.required">Doğum Tarihiniz boş bırakılamaz.</div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Email</label>
                                    <input type="email" class="form-control" placeholder="Email" formControlName="email"
                                        [ngClass]="{'is-invalid':addEditUser && rf.email.errors}">
                                    <div *ngIf="addEditUser && rf.email.errors" class="invalid-feedback">
                                        <div *ngIf="rf.email.errors.required">Email boş bırakılamaz.</div>
                                        <div *ngIf="rf.email.errors.email">Geçerli Email girin.</div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Şifre</label>
                                    <input type="password" class="form-control" placeholder="Password" formControlName="password"
                                        [ngClass]="{'is-invalid':addEditUser && rf.password.errors}">
                                    <div *ngIf="addEditUser && rf.password.errors" class="invalid-feedback">
                                        <div *ngIf="rf.password.errors.required">Şifre boş bırakılamaz.</div>
                                        <div *ngIf="rf.password.errors.minlength">En az 6 karakter giriniz.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAddress">Adres</label>
                                <input type="text" class="form-control" placeholder="1234 Main St" formControlName="addLine1"
                                    [ngClass]="{'is-invalid':addEditUser && rf.addLine1.errors}">
                                <div *ngIf="addEditUser && rf.addLine1.errors" class="invalid-feedback">
                                    <div *ngIf="rf.addLine1.errors.required">Adres1 boş bırakılamaz.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAddress2">Adres 2</label>
                                <input type="text" class="form-control" placeholder="Apartment, studio, or floor"
                                    formControlName="addLine2">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputCity">Şehir</label>
                                    <input type="text" class="form-control" formControlName="city" [ngClass]="{'is-invalid':addEditUser && rf.city.errors}">
                                    <div *ngIf="addEditUser && rf.city.errors" class="invalid-feedback">
                                        <div *ngIf="rf.city.errors.required">Şehir boş bırakılamaz.</div>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputState">İlçe</label>
                                    <select id="inputState" class="form-control" formControlName="state" [ngClass]="{'is-invalid':addEditUser && rf.state.errors}">
                                        <option selected>Merkez</option>
                                        <option>Taşra</option>
                                    </select>
                                    <div *ngIf="addEditUser && rf.state.errors" class="invalid-feedback">
                                        <div *ngIf="rf.state.errors.required">Birini seçiniz</div>
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputZip">Posta Kodu</label>
                                    <input type="text" class="form-control" formControlName="zipCode" [ngClass]="{'is-invalid':addEditUser && rf.zipCode.errors}">
                                    <div *ngIf="addEditUser && rf.zipCode.errors" class="invalid-feedback">
                                        <div *ngIf="rf.zipCode.errors.required">Posta Kodu boş bırakılamaz.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect2">Diliniz</label>
                                <select multiple class="form-control" formControlName="language" [ngClass]="{'is-invalid':addEditUser && rf.language.errors}">
                                    <option>Turkish</option>
                                    <option>English</option>
                                    <option>Other</option>
                                </select>
                                <div *ngIf="addEditUser && rf.language.errors" class="invalid-feedback">
                                    <div *ngIf="rf.language.errors.required">En az bir dil seçin</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect2">Cinsiyet</label><br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" formControlName="gender" value="Male"
                                        [ngClass]="{'is-invalid':addEditUser && rf.gender.errors}">
                                    <label class="form-check-label" for="inlineRadio1">Erkek</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" formControlName="gender" value="Female"
                                        [ngClass]="{'is-invalid':addEditUser && rf.gender.errors}">
                                    <label class="form-check-label" for="inlineRadio2">Kadın</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" formControlName="gender" value="Other"
                                        disabled [ngClass]="{'is-invalid':addEditUser && rf.gender.errors}">
                                    <label class="form-check-label" for="inlineRadio3">Diğer (gizli)</label>
                                </div>
                                <!-- <div *ngIf="addEditUser && rf.gender.errors" class="invalid-feedback">
                                <div *ngIf="rf.gender.errors.required">Select gender</div>
                              </div> -->
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Hakkınızda</label>
                                <textarea class="form-control" rows="3" formControlName="aboutYou" [ngClass]="{'is-invalid':addEditUser && rf.aboutYou.errors}"></textarea>
                                <div *ngIf="addEditUser && rf.aboutYou.errors" class="invalid-feedback">
                                    <div *ngIf="rf.aboutYou.errors.required">Hakınızda bir şeyler yazınız.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlFile1">Fotoğraf Yükle</label>
                                <span *ngIf="edit_user"><span>Fotoğraf Yükle</span><br>{{upload_file_name}} <span> <a
                                            href="">Ön İzleme</a></span></span>
                                <input type="file" class="form-control-file" formControlName="uploadPhoto" [ngClass]="{'is-invalid':addEditUser && rf.uploadPhoto.errors}">
                                <div *ngIf="addEditUser && rf.uploadPhoto.errors" class="invalid-feedback">
                                    <div *ngIf="rf.uploadPhoto.errors.required">Lütfen dosya yükleyiniz.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="roleSelect">Rol Seçin</label>
                                <select class="form-control" formControlName="role" [ngClass]="{'is-invalid':addEditUser && rf.role.errors}">
                                    <option value="admin">Admin</option>
                                    <option value="seller">Satış</option>
                                    <option value="buyer">Alış</option>
                                </select>
                                <div *ngIf="addEditUser && rf.role.errors" class="invalid-feedback">
                                    <div *ngIf="rf.role.errors.required">Birini Seçin.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" formControlName="agreetc" [ngClass]="{'is-invalid':addEditUser && rf.agreetc.errors}"
                                        true>
                                    <label class="form-check-label" for="gridCheck">
                                        Şartları ve Koşulları Onaylıyorum.
                                    </label>
                                    <div *ngIf="addEditUser && rf.agreetc.errors" class="invalid-feedback">
                                        <div *ngIf="rf.agreetc.errors.required">Şartları ve Koşulları Onaylayın.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" (click)="addUser()" *ngIf="add_user">Kayıt Ol</button>
                                <button class="btn btn-primary" (click)="updateUser()" *ngIf="edit_user">Güncelle</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>