<!-- FOOTER -->
<footer class="container">
    <p class="float-right"><a>{{"footer.tc" | translate}}</a></p>
    <p>&copy; {{"footer.year" | translate}} - {{"footer.d&d_by" | translate}} &middot;
        <a target="_bank" href="http://google.com/">
            {{"footer.my_name" | translate}}
        </a>
    </p>
</footer>