<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Alıcı</a></li>
        <li class="breadcrumb-item"><a routerLink="/buyer-dashboard">Ürünler</a></li>
    </ol>
</nav>
<div class="row">
    <div class="col-sm-4 product" *ngFor="let product of all_products;">
        <div class="card">
            <img src="{{product.uploadPhoto}}" class="card-img-top" alt="{{product.name}}">
            <div class="card-body">
                <h4 class="card-title">{{product.name}}</h4>
                <p><span class="float-left"><strong>Normal Fiyat</strong>: <del>{{product.mrp}}</del></span> <span class="float-right"><strong>İndirimli Fiyat</strong>:
                        {{product.dp}}</span></p>
                <br>
                <p class="card-text product-desc">{{product.productDesc}}</p>
                <a class="btn btn-primary float-left" (click)="addToCart()">Sepete Ekle</a>
                <a class="btn btn-primary float-right" (click)="buyProduct(product.id)">Satın Al</a>
            </div>
        </div>
    </div>
</div>