<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3" *ngIf="regForm">
                <h3>Kayıt Formu</h3>
                <form [formGroup]="signUpform" (ngSubmit)="onSubmitSignUp()">
                    <div class="form-group">
                        <label>Ad</label>
                        <input type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid':signUpsubmitted && rf.name.errors}" />
                        <div *ngIf="signUpsubmitted && rf.name.errors" class="invalid-feedback">
                            <div *ngIf="rf.name.errors.required">Ad boş bırakılamaz.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Telefon Numarası</label>
                        <input type="tel" class="form-control" formControlName="mobNumber" [ngClass]="{'is-invalid':signUpsubmitted && rf.mobNumber.errors}"
                            numberOnly />
                        <div *ngIf="signUpsubmitted && rf.mobNumber.errors" class="invalid-feedback">
                            <div *ngIf="rf.mobNumber.errors.required">Telefon Numarası boş bırakılamaz.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Yaşınız</label>
                        <input type="number" class="form-control" formControlName="age" [ngClass]="{'is-invalid':signUpsubmitted && rf.age.errors}" />
                        <div *ngIf="signUpsubmitted && rf.age.errors" class="invalid-feedback">
                            <div *ngIf="rf.age.errors.required">Yaş boş bırakılamaz.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Doğum Tarihiniz</label>
                        <input type="date" class="form-control" formControlName="dob" [ngClass]="{'is-invalid':signUpsubmitted && rf.dob.errors}" />
                        <div *ngIf="signUpsubmitted && rf.dob.errors" class="invalid-feedback" [ngClass]="{'is-invalid':signUpsubmitted && rf.dob.errors}">
                            <div *ngIf="rf.dob.errors.required">Doğum Tarihi boş bırakılamaz.</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" placeholder="Email" formControlName="email"
                                [ngClass]="{'is-invalid':signUpsubmitted && rf.email.errors}">
                            <div *ngIf="signUpsubmitted && rf.email.errors" class="invalid-feedback">
                                <div *ngIf="rf.email.errors.required">Email Doğum Tarihi</div>
                                <div *ngIf="rf.email.errors.email">Geçerli Email giriniz</div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Şifre</label>
                            <input type="password" class="form-control" placeholder="Şifre" formControlName="password"
                                [ngClass]="{'is-invalid':signUpsubmitted && rf.password.errors}">
                            <div *ngIf="signUpsubmitted && rf.password.errors" class="invalid-feedback">
                                <div *ngIf="rf.password.errors.required">Şifre boş bırakılamaz.</div>
                                <div *ngIf="rf.password.errors.minlength">Şifre en az 6 karakter olmalıdır.</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Adres</label>
                        <input type="text" class="form-control" placeholder="Türkiye" formControlName="addLine1"
                            [ngClass]="{'is-invalid':signUpsubmitted && rf.addLine1.errors}">
                        <div *ngIf="signUpsubmitted && rf.addLine1.errors" class="invalid-feedback">
                            <div *ngIf="rf.addLine1.errors.required">Adres boş bırakılamaz.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress2">Adres 2</label>
                        <input type="text" class="form-control" placeholder="Turgutlu, Şehitler Mah. No:0"
                            formControlName="addLine2">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">Şehir</label>
                            <input type="text" class="form-control" formControlName="city" [ngClass]="{'is-invalid':signUpsubmitted && rf.city.errors}">
                            <div *ngIf="signUpsubmitted && rf.city.errors" class="invalid-feedback">
                                <div *ngIf="rf.city.errors.required">Şehir boş bırakılamaz.</div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState">İlçe</label>
                            <select id="inputState" class="form-control" formControlName="state" [ngClass]="{'is-invalid':signUpsubmitted && rf.state.errors}">
                                <option selected>Merkez</option>
                                <option>Taşra</option>
                            </select>
                            <div *ngIf="signUpsubmitted && rf.state.errors" class="invalid-feedback">
                                <div *ngIf="rf.state.errors.required">Birini seçiniz.</div>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputZip">Posta Kodu</label>
                            <input type="text" class="form-control" formControlName="zipCode" [ngClass]="{'is-invalid':signUpsubmitted && rf.zipCode.errors}">
                            <div *ngIf="signUpsubmitted && rf.zipCode.errors" class="invalid-feedback">
                                <div *ngIf="rf.zipCode.errors.required">Posta Kodu boş bırakılamaz.</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect2">Diliniz</label>
                        <select multiple class="form-control" formControlName="language" [ngClass]="{'is-invalid':signUpsubmitted && rf.language.errors}">
                            <option>English</option>
                            <option>Turkish</option>
                            <option>Spanish</option>
                            <option>Greek</option>
                            <option>Other</option>
                        </select>
                        <div *ngIf="signUpsubmitted && rf.language.errors" class="invalid-feedback">
                            <div *ngIf="rf.language.errors.required">Bir dil seçiniz.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect2">Cinsiyet</label><br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="gender" value="Male"
                                [ngClass]="{'is-invalid':signUpsubmitted && rf.gender.errors}">
                            <label class="form-check-label" for="inlineRadio1">Erkek</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="gender" value="Female"
                                [ngClass]="{'is-invalid':signUpsubmitted && rf.gender.errors}">
                            <label class="form-check-label" for="inlineRadio2">Kadın</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="gender" value="Other"
                                disabled [ngClass]="{'is-invalid':signUpsubmitted && rf.gender.errors}">
                            <label class="form-check-label" for="inlineRadio3">Diğer (gizli)</label>
                        </div>
                        <!-- <div *ngIf="signUpsubmitted && rf.gender.errors" class="invalid-feedback">
              <div *ngIf="rf.gender.errors.required">Select gender</div>
            </div> -->
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Hakkımda</label>
                        <textarea class="form-control" rows="3" formControlName="aboutYou" [ngClass]="{'is-invalid':signUpsubmitted && rf.aboutYou.errors}"></textarea>
                        <div *ngIf="signUpsubmitted && rf.aboutYou.errors" class="invalid-feedback">
                            <div *ngIf="rf.aboutYou.errors.required">Hakkınızda bir şeyler yazınız.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Fotoğraf Yükle</label>
                        <input type="file" class="form-control-file" formControlName="uploadPhoto" [ngClass]="{'is-invalid':signUpsubmitted && rf.uploadPhoto.errors}">
                        <div *ngIf="signUpsubmitted && rf.uploadPhoto.errors" class="invalid-feedback">
                            <div *ngIf="rf.uploadPhoto.errors.required">Lütfen dosya yükleyiniz.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" formControlName="agreetc" [ngClass]="{'is-invalid':signUpsubmitted && rf.agreetc.errors}">
                            <label class="form-check-label" for="gridCheck">
                                Şartlar ve Koşulları onaylıyorum.
                            </label>
                            <div *ngIf="signUpsubmitted && rf.agreetc.errors" class="invalid-feedback">
                                <div *ngIf="rf.agreetc.errors.required">Şartlar ve Koşulları Onaylayınız.</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="roleSelect">Kullanım Amacınızı Seçiniz</label>
                        <select class="form-control" formControlName="role" [ngClass]="{'is-invalid':signUpsubmitted && rf.role.errors}">
                            <option value="seller">Satıcı</option>
                            <option value="buyer">Alıcı</option>
                        </select>
                        <div *ngIf="signUpsubmitted && rf.role.errors" class="invalid-feedback">
                            <div *ngIf="rf.role.errors.required">Birini seçiniz.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Kayıt Ol</button>
                    </div>
                </form>
                <p routerLink="/sign-in" class="sim-pointer">Zaten bir hesabınız var mı? Giriş yapmak için burayı tıklayın.</p>
            </div>
            <div class="col-md-6 offset-md-3" *ngIf="!regForm">
                <h3>Kullanıcı Girişi</h3>
                <form name="form" #tf="ngForm" (ngSubmit)="tf.form.valid && onSubmitSignIn()" novalidate>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" name="userEmail" [(ngModel)]="signInFormValue.userEmail"
                            #userEmail="ngModel" [ngClass]="{ 'is-invalid': tf.submitted && userEmail.invalid }"
                            required email />
                        <div *ngIf="tf.submitted && userEmail.invalid" class="invalid-feedback">
                            <div *ngIf="userEmail.errors.required">Email boş bırakılamaz.</div>
                            <div *ngIf="userEmail.errors.email">Email geçerli bir email olmalıdır.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Şifre</label>
                        <input type="password" class="form-control" name="userPassword" [(ngModel)]="signInFormValue.userPassword"
                            #userPassword="ngModel" [ngClass]="{ 'is-invalid': tf.submitted && userPassword.invalid }"
                            required minlength="5" togglePassword />
                        <div *ngIf="tf.submitted && userPassword.invalid" class="invalid-feedback">
                            <div *ngIf="userPassword.errors.required || userPassword.errors.minlength">Şifre en az 6 karakter olmalıdır.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Giriş</button>
                    </div>
                </form>
                <p routerLink="/sign-up" class="sim-pointer">Hesabınız yoksa Kayıt Ol için burayı tıklayınız.</p>
            </div>
        </div>
    </div>
</div>