<br>
<div class="jumbotron p-3 p-md-2 text-white rounded bg-dark">
    <div class="col-md-12 px-0">
        <h3 class="display-4 font-italic">Admin sayfasına hoşgeldiniz.</h3>
        <p class="lead my-3">Admin, kullanıcı ve ürün ayrıntılarını yönetebilir.</p>
        <!-- <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p> -->
    </div>
</div>

<div class="row mb-2">
    <div class="col-md-6" (click)="userDashboard()">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">KULLANICILAR</strong>
                <h3 class="mb-0">Kullanıcı Yönetme</h3>
                <div class="progressbar-div">
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width.%': admin_user}"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Admin: {{admin_user}}</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" [ngStyle]="{'width.%': seller_user}"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Satıcı: {{seller_user}}</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width.%': buyer_user}"
                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Alıcı: {{buyer_user}}</div>
                    </div>
                </div>
            </div>
            <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="220" xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                    <title>Kullanıcı Yönetme</title>
                    <rect width="100%" height="100%" fill="#55595c" /><text x="10%" y="50%" fill="#eceeef" dy=".3em">
                        Toplam Kullanıcılar: {{total_user}}
                    </text>
                </svg>
            </div>
        </div>
    </div>
    <div class="col-md-6" (click)="productDashboard()">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">ÜRÜNLER</strong>
                <h3 class="mb-0">Ürün Yönetme</h3>
                <!-- <div class="mb-1 text-muted">Last Product Update: <strong> Nov 11</strong></div> -->
                <div class="progressbar-div">
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" [style.width.%]="publish_product"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Satışa Açık: {{publish_product}}</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width.%': inactive_product}"
                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Etkin Değil: {{inactive_product}}</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" [ngStyle]="{'width.%': draft_product}"
                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Taslak Halinde: {{draft_product}}</div>
                    </div>
                </div>
            </div>
            <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="220" xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                    <title>Ürün Yönetme</title>
                    <rect width="100%" height="100%" fill="#55595c" /><text x="10%" y="50%" fill="#eceeef" dy=".3em">
                        Toplam Ürünler: {{total_product}}
                    </text>
                </svg>
            </div>
        </div>
    </div>
</div>