<div class="col-md-6 offset-md-3">
    <h3>Admin Girişi</h3>
    <form name="form" #tf="ngForm" (ngSubmit)="tf.form.valid && onSubmitSignIn()" novalidate>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="userEmail" [(ngModel)]="signInFormValue.userEmail"
                #userEmail="ngModel" [ngClass]="{ 'is-invalid': tf.submitted && userEmail.invalid }" required email />
            <div *ngIf="tf.submitted && userEmail.invalid" class="invalid-feedback">
                <div *ngIf="userEmail.errors.required">Kullanıcı Adı boş olamaz.</div>
                <div *ngIf="userEmail.errors.email">Geçerli bir email adresi girin.</div>
            </div>
        </div>
        <div class="form-group">
            <label>Şifre</label>
            <input type="password" class="form-control" name="userPassword" [(ngModel)]="signInFormValue.userPassword"
                #userPassword="ngModel" [ngClass]="{ 'is-invalid': tf.submitted && userPassword.invalid }" required
                minlength="5" togglePassword />
            <div *ngIf="tf.submitted && userPassword.invalid" class="invalid-feedback">
                <div *ngIf="userPassword.errors.required || userPassword.errors.minlength">Şifre 6 karakterden az olamaz.</div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Giriş</button>
        </div>
    </form>
</div>